    
    .zoom-img {
      overflow: hidden;
      border-radius: 15px;
      transition: transform 0.5s ease;
    }

    .zoom-img:hover img {
      transform: scale(1.1);
    }

    .zoom-img img {
      width: 100%;
      height: auto;
      border-radius: 15px;
      transition: transform 0.5s ease;
    }

    .text-animated {
      animation: fadeInRight 1.2s ease-in-out;
    }

    @keyframes fadeInRight {
      from {
        opacity: 0;
        transform: translateX(60px);
      }
      to {
        opacity: 1;
        transform: translateX(0);
      }
    }

    @media (max-width: 768px) {
      .text-animated {
        text-align: center;
      }
    }




    
    .contact-wrapper {
      text-align: center;
      padding: 100px 20px;
      animation: fadeInUp 1.5s ease;
    }

    .contact-wrapper h1 {
      font-size: 2.8rem;
      margin-bottom: 40px;
      font-weight: 600;
      color: #ffffff;
    }

    .contact-block {
      margin-bottom: 40px;
    }

    .contact-block h3 {
      color: #e85555;
      font-weight: 700;
      transition: all 0.3s ease;
      cursor: pointer;
    }

    .contact-block h3:hover {
      transform: scale(1.05);
      text-shadow: 0 0 10px #ff5f5f;
    }

    .contact-block p {
      font-size: 1.1rem;
      color: #ddd;
    }

    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(40px);
      }
      100% {
        opacity: 1;
        transform: translateY(0px);
      }
    }

    @media (max-width: 768px) {
      .contact-wrapper {
        padding: 60px 20px;
      }

      .contact-wrapper h1 {
        font-size: 2rem;
      }
    }